<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="StorageAccountName" value="your storage account name here"/>
    <add key="StorageAccountKey" value="your storage key here"/>
    <add key="PublicStorageContainerName" value="api"/>
    <add key="AllowedOrigins" value="http://editor.swagger.io"/>
  </appSettings>
</configuration>