<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="StorageAccountName" value="set storage account name here"/>
    <add key="StorageAccountKey" value="set storage key here"/>
    <add key="PublicStorageContainerName" value="$root"/>
  </appSettings>
</configuration>